/ParseException.java
/SimpleCharStream.java
/Token.java
/TokenMgrError.java
/VariableParserConstants.java
/VariableParser.java
/VariableParserTokenManager.java
/AssignParserConstants.java
/AssignParser.java
/AssignParserTokenManager.java
